anaconda==0.0.1.1
apsw==3.16.2.post1
arrow==0.15.2
asn1crypto==0.24.0
astroid==1.6.6
astunparse==1.6.2
attrs==17.4.0
Automat==0.6.0
backdoor-factory==0.0.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
BeautifulSoup==3.2.1
beautifulsoup4==4.6.0
bleach==3.1.0
cached-property==1.3.1
capstone==3.0.4
certifi==2019.6.16
chardet==3.0.4
CherryPy==8.9.1
cliapp==1.20170827
Click==7.0
click-plugins==1.1.1
cmdtest==0.32
colorama==0.4.1
colour==0.1.5
conda==4.3.16
configparser==3.7.4
constantly==15.1.0
crcmod==1.7
cryptography==2.1.4
cssselect==1.0.3
cssutils==1.0.2
cycler==0.10.0
decorator==4.1.2
defusedxml==0.6.0
deluge==1.3.15
Django==1.11.22
dnspython==1.15.0
docker==2.5.1
docker-compose==1.17.1
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.3
enum34==1.1.6
feedparser==5.2.1
Flask==1.1.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.3.0
geojson==2.5.0
greenlet==0.4.12
h5py==2.7.1
harvester==0.4.4
html5-parser==0.4.4
html5lib==0.999999999
hyperlink==17.3.1
idna==2.8
incremental==16.10.1
ipaddress==1.0.17
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==5.2.0
jupyter-core==4.5.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
lxml==4.2.1
Markdown==2.6.9
MarkupSafe==1.1.1
matplotlib==2.2.4
mccabe==0.6.1
mechanize==0.2.5
mercurial==4.5.3
mistune==0.8.4
mock==2.0.0
mpld3==0.3
msgpack==0.5.6
nbconvert==5.5.0
nbformat==4.4.0
neovim==0.2.0
netifaces==0.10.4
netron==3.2.8
notebook==5.7.8
numpy==1.13.3
oauthlib==3.1.0
olefile==0.45.1
opencv-python==4.1.0.25
PAM==0.4.2
pandas==0.24.2
pandocfilters==1.4.2
Parsley==1.2
pathlib2==2.3.4
pbkdf2==1.3
pbr==3.1.1
pefile==2017.11.5
pexpect==4.7.0
pickleshare==0.7.5
Pillow==5.1.0
pipenv==2018.11.26
pixiedust==1.1.17
pocket==0.3.6
powerline-status==2.7
prometheus-client==0.7.1
prompt-toolkit==1.0.16
psutil==5.4.2
psycopg2==2.8.4
ptyprocess==0.6.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycosat==0.6.3
pycrypto==2.6.1
pycurl==7.43.0.1
pyfiglet==0.8.post1
pygame===1.9.1release
Pygments==2.2.0
pygobject==3.26.1
pyinotify==0.9.6
pyliblzma==0.5.3
pylint==1.9.5
pyOpenSSL==17.5.0
pyparsing==2.2.0
PyRIC==0.1.6.3
pyrit==0.4.0
pyserial==3.4
PySocks==1.7.1
python-dateutil==2.6.1
python-libtorrent==1.1.5
python-magic==0.4.16
pytz==2019.1
pyxdg==0.25
PyYAML==3.12
pyzmq==18.0.2
qtconsole==4.5.2
rainbowstream==1.4.0
regex==2017.12.12
repoze.lru==0.7
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
roguehostapd==1.2.3
Routes==2.4.1
ruamel.ordereddict==0.4.14
ruamel.yaml==0.16.0
ruamel.yaml.clib==0.1.0
scandir==1.10.0
scapy==2.4.3
scikit-learn==0.20.3
scipy==1.2.2
scour==0.36
SecretStorage==2.3.1
Send2Trash==1.5.0
service-identity==16.0.0
shodan==1.13.0
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
SQLAlchemy==1.1.11
subprocess32==3.5.4
terminado==0.8.2
testpath==0.4.2
texttable==0.9.1
torbrowser-launcher==0.2.9
torch==1.1.0
torchvision==0.3.0
tornado==4.5.3
traitlets==4.3.2
trollius==2.0.1
ttystatus==0.38
tweepy==3.8.0
Twisted==17.9.0
twitter==1.18.0
txsocksx==0.0.0
typing==3.7.4
udacity-pa==0.2.9
urllib3==1.25.3
uTidylib==0.3
virtualenv==16.7.2
virtualenv-clone==0.5.3
wapiti==2.3.0
wcwidth==0.1.7
webencodings==0.5
WebOb==1.7.3
websocket-client==0.44.0
Werkzeug==0.15.5
wfuzz==2.2.9
widgetsnbextension==3.5.0
wifiphisher==1.4
wrapt==1.11.2
wxPython==3.0.2.0
wxPython-common==3.0.2.0
XlsxWriter==1.1.8
zenmap==7.60
zope.interface==4.3.2
