{% extends 'base.html'%}

{% block head %}
<title>COVID-19 kenya stats</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="card" style="width: 100%;">
    <img class="card-img-top" src="static/images/covid.jpg" alt="Covid" width="150" height="400">
    <div class="card-body">
        <p class="card-text">Hobby project with flask to show realtime data of covid-19 infection in Kenya and around the world</p>
    </div>
</div>
</div> 

{% endblock %}
{%block footer %}
<!-- #footer -->
{% endblock %}