{% extends 'base.html'%}

{% block head %}
<title>COVID-19 kenya globe</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">

    <!-- Total cases -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Cases</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.cases}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-hospital-o fa-3x" aria-hidden="true" style="color:rgb(0, 204, 255);"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total recovery -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total recovery</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.recovered}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-heartbeat fa-3x" aria-hidden="true" style="color:green;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Deaths -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">total deaths</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.deaths}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-heart-o fa-3x" aria-hidden="true" style="color:red;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Active cases -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">active cases</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.active}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-hospital-o fa-3x" aria-hidden="true" style="color:#F9C404;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- Today cases -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Today Cases</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.todayCases}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-ambulance fa-3x" aria-hidden="true" style="color:green;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Today deaths -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Today deaths</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.todayDeaths}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-user-times fa-3x fa-fw" aria-hidden="true" style="color:red;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Cases per one million -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">cases Per One Million</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.casesPerOneMillion}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-hospital-o fa-3x" aria-hidden="true" style="color:#F9C404;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Critical cases -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">critical cases</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.critical}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-heartbeat fa-3x" aria-hidden="true" style="color:red;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">

    <!-- Deaths Per One Million -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Deaths Per One Million</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.deathsPerOneMillion}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-heart-o fa-3x" aria-hidden="true" style="color:red;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- total -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total statistics</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.deathsPerOneMillion + globe.critical + globe.casesPerOneMillion + globe.todayDeaths + globe.todayCases + globe.active + globe.deaths + globe.recovered + globe.cases }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-hourglass fa-3x fa-fw" aria-hidden="true" style="color:green;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- deaths per million % -->
     <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">deaths Per One Million</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{globe.deathsPerOneMillion}}%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 1%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
<!-- Total Tests -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total tests</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.tests}}</div>
                </div>
                <div class="col-auto">
                    <i class="fa fa-stethoscope fa-3x" aria-hidden="true" style="color:red;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<div class="row">
    <!-- Total test per million -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">TESTS PER ONE MILLION</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.testsPerOneMillion}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-user-md fa-3x" aria-hidden="true" style="color:green;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Continent -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Continent</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.continent}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-globe fa-3x" aria-hidden="true" style="color:red;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Country -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">affected countries</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{globe.affectedCountries}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-globe fa-3x" aria-hidden="true" style="color:#F9C404;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- updated on -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">updated on</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                            <p id="demo"></p>

                            <script>
                                var d = new Date();
                                document.getElementById("demo").innerHTML = d;
                            </script>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}
{%block footer %}
<!-- #footer -->
{% endblock %}