{% extends 'base.html'%}

{% block head %}
<title>COVID-19 kenya stats</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand">COVID-19 INFECTION IN KENYA</a>
</nav>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Total Cases</th>
            <th scope="col">today Cases</th>
            <th scope="col">Total Deaths</th>
            <th>today Deaths</th>
            <th>Total Recovered</th>
            <th>Active Cases</th>
            <th>Critical Cases</th>
            <th>Cases Per One Million</th>
            <th>deaths Per One Million</th>
            <th>Updated on</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{stats.cases}}</td>
            <td>{{stats.todayCases}}</td>
            <td>{{stats.deaths}}</td>
            <td>{{stats.todayDeaths}}</td>
            <td>{{stats.recovered}}</td>
            <td>{{stats.active}}</td>
            <td>{{stats.critical}}</td>>
            <td>{{stats.casesPerOneMillion}}</td>
            <td>{{stats.deathsPerOneMillion}}</td>
            <td>{{stats.updated}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}